form input {
  color:blue;

}
div input {
  color:green;

}
@keyframes animar{
 from {
    background-color: yellow;
    width: 50px;
  }
  to {
    background-color: blue;
    width: 400px;
  }
}
input[type="submit"]{
  animation-name: animar;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
